<div class="drawer lg:drawer-open">
    <input
        #drawerToggle
        id="my-drawer-2"
        type="checkbox"
        class="drawer-toggle"
        (change)="onDrawerChange()"
    />
    <div class="drawer-side">
        <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
        <div class="bg-base-200 w-56 flex flex-col space-between h-screen z-50">
            <app-user-profile />

            <app-menu class="w-56" [menus]="MENU_ITEMS_LIST" />

            <div class="absolute bottom-0 w-full p-4 border-t border-base-300">
                <a (click)="signOut()" class="flex gap-3 text-sm cursor-pointer hover:font-bold">
                    <app-icons [name]="'logout'" class="w-6 h-6" />
                    Sign out
                </a>
            </div>
        </div>
    </div>
</div>
