# Node modules
node_modules
npm-debug.log

# Prisma artifacts
prisma/dev.db
prisma/dev.db-journal

# Environment files
.env
.env.*
client/src/environments/

# OS files
.DS_Store
Thumbs.db

# Angular files
client/dist/
client/.angular/

# server ts compiled output
server/dist/

# Editor/IDE stuff
.vscode/

# Optional: compiled Prisma client if not using in source
@prisma/


# Ignore package-lock.json files in both client and server
client/package-lock.json
server/package-lock.json