# Node modules
node_modules/

# TypeScript build output
dist/
build/

# Prisma artifacts
prisma/dev.db
prisma/dev.db-journal

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*
client/src/environments/

# OS files
.DS_Store
Thumbs.db

# Angular files
.client/node_modules/
.client/dist/
.client/.angular/

# Editor/IDE stuff
.vscode/
.idea/

# Optional: compiled Prisma client if not using in source
@prisma/