@switch (name) {
    @case ('circle-gauge') {
        <lucide-icon [img]="CircleGauge" />
    }

    @case ('hand-coins') {
        <lucide-icon [img]="HandCoins" />
    }

    @case ('banknote-arrow-down') {
        <lucide-icon [img]="BanknoteArrowDown" />
    }

    @case ('settings') {
        <lucide-icon [img]="Settings" />
    }

    @case ('blocks') {
        <lucide-icon [img]="Blocks" />
    }

    @case ('user-cog') {
        <lucide-icon [img]="UserCog" />
    }

    @case ('box') {
        <lucide-icon [img]="Box" />
    }
}
