@switch (name) {
    @case ('circle-gauge') {
        <lucide-icon [img]="CircleGauge" aria-label="Icon" [class]="class" />
    }

    @case ('hand-coins') {
        <lucide-icon [img]="HandCoins" aria-label="Icon" [class]="class" />
    }

    @case ('banknote-arrow-down') {
        <lucide-icon [img]="BanknoteArrowDown" aria-label="Icon" [class]="class" />
    }

    @case ('settings') {
        <lucide-icon [img]="Settings" aria-label="Icon" [class]="class" />
    }

    @case ('blocks') {
        <lucide-icon [img]="Blocks" aria-label="Icon" [class]="class" />
    }

    @case ('user-cog') {
        <lucide-icon [img]="UserCog" aria-label="Icon" [class]="class" />
    }

    @case ('box') {
        <lucide-icon [img]="Box" aria-label="Icon" [class]="class" />
    }

    @case ('user-round') {
        <lucide-icon [img]="UserRound" aria-label="Icon" [class]="class" />
    }

    @case ('logout') {
        <lucide-icon [img]="Logout" aria-label="Logout icon" [class]="class" />
    }

    @case ('edit') {
        <lucide-icon [img]="Edit" aria-label="Edit icon" [class]="class" />
    }

    @case ('trash-2') {
        <lucide-icon [img]="Trash2" aria-label="Delete icon" [class]="class" />
    }

    @case ('search') {
        <lucide-icon [img]="Search" aria-label="Search icon" [class]="class" />
    }
}
