<app-auth-layout>
    <div brand-mobile>
        <app-brand class="visible sm:hidden" />
    </div>

    <div>
        <div class="flex flex-col w-full gap-4">
            <div class="hidden sm:block">
                <h1 class="font-extrabold text-2xl">Reset Your Password</h1>
                <p class="text-sm mt-2">
                    Enter your new password below to regain access to your account.
                </p>
            </div>

            <div class="flex flex-col gap-4">
                <div class="w-full mx-auto">
                    <app-dynamic-form
                        #authForm
                        [config]="resetPasswordFormConfig"
                        [reset]="false"
                    />

                    @if (errorMessage.length > 0) {
                        <app-alert [type]="'error'" [message]="errorMessage" />
                    }

                    @if (successMessage.length > 0) {
                        <app-alert [type]="'success'" [message]="successMessage" />
                    }

                    <div class="grid grid-flow-row sm:grid-flow-col gap-4">
                        <div class="flex justify-center sm:justify-start">
                            <span class="text-gray-500 text-sm">
                                <a
                                    class="hover:underline hover:cursor-pointer text-blue-500"
                                    (click)="redirect('login')"
                                >
                                    Return to sign in
                                </a>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="hidden justify-between sm:flex"></div>

                <div class="flex justify-end">
                    <button
                        class="btn btn-md btn-primary w-full sm:w-32"
                        [disabled]="isDisabled"
                        (click)="resetPassword()"
                    >
                        {{ action.label }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div brand-desktop>
        <div class="hidden sm:grid place-items-center bg-gray-100 h-full">
            <app-brand>
                <div subtitle>
                    <p>Secure your account with a new password</p>
                </div>
            </app-brand>
        </div>
    </div>
</app-auth-layout>
